@model HashSet<string>
@{
    ViewData["Title"] = "Index";
}

<p><a asp-controller="SetType" asp-action="DeleteFirstItem">Listenin başından item sil item sil</a></p>

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">

    <input type="text" name="name" />
    <button type="submit">Kaydet</button>

</form>
@foreach (var item in Model)
{

    <h2>@item <a asp-controller="SetType" asp-action="Delete" asp-route-name="@item">Sil</a></h2>
}